.ui.text.container {
    margin-top: 120px;
}

.all-btn {
    height: 60px;
    background-color: green;
    width: 320px;
    margin-top: 10px;
    color: white;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 420;
    font-size: 16px;
    line-height: 150%;
    border-radius: 4px;
}

.header-text {
    text-align: center;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
}

.lable {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}